.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.status-box {
    text-align: center;
}
.card-grid{
    text-align: center;
}

.button-group form {
    margin: 0;
}

.water-button,
.delete-button {
    padding: 10px 18px;
    border: outset;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.water-button {
    background-color: #2e8b57;
}

.water-button:hover {
    background-color: #256f46;
}

.delete-button {
    background-color: #030000;
}

.delete-button:hover {
    background-color: #992d22;
}